@model UserModel

@{
    ViewBag.Title = "Şifre Sıfırla";
}

@if (ViewBag.SuccesMessage != null)
{
    <div class="alert alert-primary">
        @ViewBag.SuccesMessage
    </div>
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-secondary">
        @ViewBag.ErrorMessage
    </div>
}

<form method="post" action="/account/resetpassword">
    <label for="Username">Kullanıcı Adı</label>
    <p><input type="text" disabled value="@Model.Username" /><p>
        <label for="Email">Email</label>
    <p><input type="email" disabled value="@Model.Email" /><p>
        <label for="Password">Şifre</label>
    <p><input required type="password" name="Password" /><p>
        <input type="hidden" name="Id" value="@Model.Id" />
        <button class="btn btn-success">Onayla</button>
</form>
